body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: "Gilroy";
  src: url("./Assets/fonts/Gilroy-Bold.ttf");
  src: url("./Assets/fonts/Gilroy-Medium.ttf");
}

.items-wrap {
  margin: 46px 0 0 40px;
}
/* для элемента input c type="checkbox" */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox + label {
  display: inline-flex;
  margin: 0;
  padding: 0;

}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
  border: 1px solid #adb5bd;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}

.custom-checkbox:checked + label::before {
  background-image: url("./Assets/Image/check.svg");
}

.item-completed {
  color: rgba(0, 0, 0, 0.6);
}
.item {
  display: flex;
  margin-top: 31px;
  align-items: center;
}
.item-text {
  cursor: pointer;
  max-width: 259px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.01em;
  margin-left: 14px;
}
